{% extends "base.html" %}

{% block title %}Tentang Aplikasi{% endblock %}

{% block content %}
<h2>Tentang Aplikasi</h2>

<p style="text-align:center; line-height:1.8;">
    Aplikasi ini digunakan untuk melakukan perhitungan <b>Fuzzy Logic</b> 
    dalam menilai <b>Kualitas Layanan Mobile Banking</b> berdasarkan 
    rating pengguna, jumlah crash, dan jumlah keluhan.  
    <br><br>
    Sistem ini juga dilengkapi visualisasi grafik fungsi keanggotaan untuk
    memudahkan pengguna memahami bagaimana fuzzy bekerja.
</p>
{% endblock %}
